:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --light: #f4f4fd;
  --white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.logo,
.nav-link,
.contacts-link {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}

.logo-accent {
  color: var(--primary-brand);
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
