.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--light);
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}
