.page-header {
  background-color: var(--white);
  border-bottom: 1px solid #e7e9fc;
}

.header-container,
.page-nav,
.nav-list,
.contacts-list {
  display: flex;
  align-items: center;
}

.header-logo {
  display: inline-block;
  margin-right: 76px;
}

.nav-list {
  gap: 40px;
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts-list {
  gap: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state);
}

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
